<div id="main">
    <nav class="navbar fixed-top navbar-white bg-white nav-custom">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 ms-4">
                <img src="/img/logo-top.png" alt="">
            </span>
            <a href="#" class="button-menu" onclick="openCloseSidebar()">
                <img src="/img/fi_menu.png" alt="" onclick="openCloseSidebar()">
            </a>
            <div class="d-flex justify-content-end">
                <form class="d-flex me-4" method="post">
                    <input class=" form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <div class="btn-group me-4">
                    <img src="/img/avatar.png" class="me-2" alt="">
                    <a href="#" class="dropdown-toggle text-decoration-none text-black mt-2" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Unis Badri
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdwon-item">
                            <a href="#" class="text-decoration-none text-dark ms-2">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>