    <div class="sidebar-left">
        <a href="/">
            <img src="/img/logo-kiri.png" class="mt-3" alt="logo-kiri">
        </a>
        <div class="sidebar-icons">
            <a href="#" class="d-flex flex-column align-items-center mt-2 text-decoration-none">
                <i class="bi bi-house text-white fs-2"></i>
                <p class="font-sidebar">Dashboard</p>
            </a>
            <a href="#" class="d-flex flex-column align-items-center mt-2 text-decoration-none">
                <i class="bi bi-truck text-white fs-2"></i>
                <p class="font-sidebar">Cars</p>
            </a>
        </div>
    </div>

    <div class="sidebar-box position-fixed" id="sidebar-box">
        <div class="list-menu">
            <h6 class="text-muted fw-bold">CARS</h6>
            <a href="/" class="text-decoration-none text-dark">
                <h6 class="mt-5 fw-bold">List Car</h6>
            </a>
        </div>
    </div>