<%- include('layouts/header') %>
<%- include('./layouts/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="content-cars" id="content-cars">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-black fw-bold">Cars</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Add Car</li>
                    </ol>
                </nav>
                <div class="d-flex justify-content-between">
                    <h5 class="text-balack fw-bold">Add Car</h5>
                    <a href="/" class="text-decoration-none fw-bold text-white btn-create text-center"><i
                            class="bi bi-arrow-left-circle"></i> Back </a>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <form action="/create" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name" class="fw-bold">Name Car :</label>
                                <input type="text" name="name" class="form-control" placeholder="Toyota Avanza"
                                    id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="type" class="fw-bold">Type Car :</label>
                                <input type="text" name="type" class="form-control" id="type" aria-placeholder="G"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="price" class="fw-bold">Price / Day :</label>
                                <input type="number" name="price" class="form-control" id="price" required>
                            </div>
                            <div class="form-group">
                                <label for="size" class="fw-bold">Size Car :</label>
                                <select name="size" required id="size" class="form-control">
                                    <option selected disabled>-- Select Size --</option>
                                    <option value="Small">Small</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Large">Large</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="image" class="fw-bold">Image Car :</label>
                                <input type="file" name="image" class="form-control" id="image" required>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-success btn-sm">Save Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer.ejs')  %>
<%- include('layouts/footer') %>