<%- include('./layouts/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="content-cars" id="content-cars">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-black fw-bold">Cars</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">List Car</li>
                    </ol>
                </nav>
                <div class="d-flex justify-content-between">
                    <h5 class="text-balack fw-bold">List Car</h5>
                    <a href="/create-car" class="text-decoration-none fw-bold text-white btn-create">+ Add New
                        Car</a>
                </div>
                <div class="container-filter gap-3 mt-3 mb-4 d-flex">
                    <a href="/" class="filter f-selected text-decoration-none text-primary fw-bold p-2">All</a>
                    <a href="/filter/Small" class="filter text-decoration-none text-muted fw-bold p-2">Small</a>
                    <a href="/filter/Medium" class="filter text-decoration-none text-muted fw-bold p-2">Medium</a>
                    <a href="/filter/Large" class="filter text-decoration-none text-muted fw-bold p-2">Large</a>
                </div>

                <div class="d-flex justify-content-around flex-wrap">
                    <% if(cars == ""){ %>
                    <div class="alert alert-warning m-3" role="alert">
                        <strong>
                            <h5 class="text-dark fw-bold">Ooppss.. Data Tidak di Temukan !</h5>
                        </strong>
                    </div>
                    <% } else { %>
                    <% cars.forEach(car=> { %>
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="/img/<%= car.image %>" class="card-img-top p-5" alt="<%= car.image %>" width="40%">
                        <div class="card-body">
                            <h6 class="card-title text-dark"><%= car.name %> / <%= car.type %> </h6>
                            <small class="card-title text-dark fw-bold"><%= car.size %></small>
                            <h6 class="card-text fw-bold">Rp. <%= car.price %> /hari</h6>
                            <small class="text-muted">
                                <i class="bi bi-clock"></i>&nbsp; Updated at :
                                <%= car.updated_at = moment().format('lll'); %>
                            </small>
                            <div class="d-flex justify-content-between mt-3">
                                <button class="btn btn-outline-danger col-5" type="button" data-bs-toggle="modal"
                                    data-bs-target="#hapusData<%= car.id %>">
                                    <i class="bi bi-trash3"></i>&nbsp; Delete
                                </button>
                                <a href="/update/<%= car.id %>" type="button" class="btn btn-success col-6">
                                    <i class="bi bi-pencil-square"></i>&nbsp; Edit
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="hapusData<%= car.id %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-center">
                                        <img src="/img/img-BeepBeep.png" alt="">
                                        <div class="text-center m-5">
                                            <b>
                                                <h5 class="mt-3 fw-bold">Menghapus Data Mobil</h5>
                                            </b>
                                            <p class="mt-2">Setelah dihapus, data mobil tidak dapat dikembalikan.
                                                Yakin ingin menghapus?
                                            </p>
                                        </div>
                                        <a href="deleted/<%= car.id %>" class="btn btn-sm" style="background: #0D28A6; width: 87px;
                                            height: 36px; font-weight: bold; color:white; border-radius: 2px;">Ya</a>
                                        <button type="button" class="btn btn-sm" data-bs-dismiss="modal" style="width: 87px; height: 36px; background: #FFFFFF; border: 1px solid
                                            #0D28A6; box-sizing: border-box; border-radius: 2px; font-weight: bold;
                                            color:#0D28A6;;">Tidak</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div> <%- include('layouts/footer.ejs')  %>