body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5 !important;
    font-family: 'IBM Plex Sans';
}

#main{
    margin-left: 60px;
    transition: margin-left 0.5s;
}

.nav-custom{
    height: 70px;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05) !important;
    margin-left: 50px;
}

.button-menu{
    position: absolute;
    margin-left:260px;
}

.sidebar-left{
    position: fixed;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70px;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #0D28A6;
}

.sidebar-icons{
    margin-top: 20px;
}

.font-sidebar{
    font-size: 12px;
    font-weight: normal;
    color: white;
    margin-top: -4px;
}

.sidebar-box{
    position: fixed;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 75.86%;
    top: 0%;
    bottom: 0%;
    background: white;
    transition: 0.5s;
    box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.20);
    display:block;
}

.list-menu{
    margin-top: 120px;
    margin-left: 100px;
}
.content-cars{
    height: 100%;
    padding: 15px 15px 15px 15px;
    margin-left: 260px;
    margin-top: 70px;
}

.btn-create{
    width: 140px;
    height: 36px;
    left: 1274px;
    top: 144px;
    padding: 5px 12px;

    background: #0D28A6;
    border-radius: 2px;
}

.filter{
background: #FFFFFF;
border: 1px solid #0D28A6;
box-sizing: border-box;
border-radius: 2px;
}

.f-selected{
    background: #CFD4ED;
    color: #0D28A6;
}

